/* Основные стили для страницы */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    transition: background-color 1s;
    margin: 0;
    overflow: hidden;
    position: relative;
}

/* Стиль таймера обратного отсчета */
.countdown {
    font-size: 4em; /* Увеличенный шрифт */
    font-family: 'Pacifico', cursive; /* Применяем красивый шрифт */
    color: #ff4081;
    position: absolute;
    top: 100px; /* Отступ от верхнего края экрана */
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    display: none; /* Скрыт до нажатия кнопки */
    text-align: center;
}

/* Стиль кнопки "Happy Birthday" */
.button {
    padding: 20px 40px;
    font-size: 36px;
    font-family: 'Dancing Script', cursive; /* Применяем красивый шрифт */
    color: #ccc;
    background-color: transparent;
    border: 2px solid #ccc;
    cursor: pointer;
    transition: color 0.5s, background-color 0.5s;
    z-index: 2;
}

.button.clicked {
    color: white;
    background-color: #ff4081;
}

/* Стиль видео заднего фона */
.video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    display: none; /* Скрываем видео, пока не будет нажата кнопка */
}

/* Стиль для кнопки-ссылки */
.link-button {
    display: inline-block;
    padding: 15px 30px;
    margin-top: 20px;
    font-size: 24px;
    font-family: 'Dancing Script', cursive;
    color: white;
    background-color: #ff4081;
    border: 2px solid #ff4081;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    z-index: 2;
    text-align: center;
}

.link-button:hover {
    background-color: white;
    color: #ff4081;
}

/* Адаптивные стили для мобильных устройств */
@media (max-width: 768px) {
    .countdown {
        font-size: 2em; /* Меньший размер шрифта для мобильных устройств */
        top: 50px; /* Меньший отступ сверху */
    }

    .button, .link-button {
        font-size: 20px; /* Уменьшаем размер шрифта кнопки */
        padding: 15px 25px; /* Меняем отступы для лучшего размещения на экране */
    }
}
